---
layout: layout
title: "Home"
---
	<section id = "home" class = "section">
		<div id="home-wrap">
  		<div id = "home-image"> 
        <%= image_tag 'profile9.jpg' %>
  		</div>
  		<div id = "home-intro">
  			<h1>Hi, I'm Andrew Holsted.</h1>
  		
	  		<p>
		  		I love Mexican food, snowboarding, and fixing things when they break. I'm a web developer at <a href ="http://www.markit.com/product/markit-on-demand">Markit on Demand</a>. 
		  	</p>
	  	</div>
	</div>
	</section>

 	<section id= "about" class = "section">
 		<div id="about-wrap">
	 		<div id="about-details">
		 		<h2>About Me</h2>
				<p>
					I moved to Japan in July of 2011, and in July of 2012 I discovered my passion for building things. Since then, I've been writing code every day. I like to try new things and learn a little along the way. 
				</p>	
				<p>
					In November 2013, I took a job as a developer for a great company in Boulder, CO. I'm taking some time off from side projects and blog posts to focus on my new job. I'll be back for sure, it just may be a little while. 
			</div>
		</div>	
	</section>

  	<%= partial 'projects' %>

	<section id ="posts" class = "section">
		<div id="posts-wrap">
			<div id="post-list">

			<h2> Posts</h2>
			<span id="tumblr"> If you prefer something shorter and more frequent, have at look at my blog on <a href="
http://fajitanachos.tumblr.com">Tumblr</a></span>
		    <ul>

            <% blog.articles.each do |post| %>
          <li class = "post-item">
            <%= link_to(post.title, post.url)%>
            <span class = "post-date"><%= post.date.strftime('%b %e, %Y') %></span>
         </li>
    
           <% end %>

		    </ul>
		    
		    </div> 
		</div>
	</section>

	<section id ="contact" class = "section">
  		<div id="contact-wrap">
	  		<h2><a href="mailto:andrew@fajitanachos.com?sqs_title=I love email. Send me one.">Talk to me, Goose.</a></h2> 		
      </div>

  	</section>

	<nav id ="home-nav">
		<ul>
      <li class = "social"><% link_to 'https://github.com/FajitaNachos/' do %> <%= image_tag 'github.png' %> <% end %>
      </li>
	  	<li><span class = "down-arrow"></span><a href = "#home" id= "home-link" class = "nav-link">Home</a></li>
	  	<li><span class = "down-arrow"></span><a href = "#about" id= "about-link" class = "nav-link">About</a></li>
			<li><span class = "down-arrow"></span><a href = "#projects" id = "projects-link" class = "nav-link" >Projects</a></li>
			<li><span class = "down-arrow"></span><a href = "#posts" id = "posts-link" class = "nav-link">Posts</a></li>
			<li><span class = "down-arrow"></span><a href = "#contact" id= "contact-link" class = "nav-link">Contact</a></li>

      <li class = "social"><% link_to 'https://twitter.com/FajitaNachos/' do %> <%= image_tag 'twitter.png' %> <% end %></li>
    </ul>
	</nav>
