---
layout: layout
title: "Home"
---
  	<section id = "home" class = "section">
  		<div id="home-wrap">
	  		<div id = "home-image"> 
          <%= image_tag 'profile9.jpg' %>
	  		</div>
	  		<div id = "home-intro">
	  			<h1>Hi, I'm Andrew Holsted.</h1>
	  		
		  		<p>
			  		I love mexican food, snowboarding, and fixing things when they break. My latest project is a <a href ="/minesweeper">Minesweeper clone</a> written in JQuery. 
			  	</p>
		  	</div>
		</div>
  	</section>

 	<section id= "about" class = "section">
 		<div id="about-wrap">
	 		<div id="about-details">
		 		<h2>About Me</h2>
				<p>
					In July of 2011, I moved to Japan. In July of 2012, I discovered my passion for building things. Since then I've been teaching English during the day and writing code every night.
				</p>	
				<p>
					Recently, my typical stack has been Javascript/JQuery on the front and Ruby/Rails on the back. I think static site generators are nifty, Git is magnificent, and Sublime Text 2 is awesome. I like to try new things. I like consuming APIs. My goal is to be a humble, well-rounded, and well-versed developer. If you're looking to hire someone like me, I'd love to hear from you.
			</div>
		</div>	
	</section>

  	<section id ="projects" class = "section">
  		<div id="projects-wrap">
  			<h2 class ="project-header">Projects </h2>
	  		<div id = "slider-wrap">
	  			<ul id = "slider">
	  				<li>
              <div class = "project">
                <div class = "project-image">
                   <% link_to '/minesweeper' do %>
                        <%= image_tag 'Minesweeper.png' %>
                      <% end %>
                </div>
                <div class = "project-details">
                  <div class="project-title">
                     <h3><%= link_to 'Minesweeper', 'https://github.com/FajitaNachos/minesweeper' %></h3>
                  </div>
                    <p>
                     This is a Minesweeper clone written in JQuery. It was my first experience writing object oriented Javascript from scratch, and I learned a lot. Click on the screen shot if you fancy a game.
                    </p>
                  <div class="project-tags">
                    <span class="project-tag">JQuery</span>
                    <span class="project-tag">HTML</span>
                    <span class="project-tag">CSS</span>

                  </div>
                  <div class= "project-links">
                    <span class = "github-icon">
                       <% link_to 'https://github.com/FajitaNachos/minesweeper' do %>
                        <%= image_tag 'Octocat.jpg' %>
                      <% end %>
                    </span>
                    
                  </div>

                </div>  
              </div>
            </li>
            <li>
				  		<div class = "project">
				  			<div class = "project-image">
                   <% link_to '/Hotfix' do %>
                    <%= image_tag 'hotfix-screenshot.jpg' %>
                   <% end %>
					    	</div>	
				  			<div class = "project-details">
				  				<div class="project-title">
				  					<h3><a href="/Hotfix">Hotfix</a></h3>
				  				</div>
				  				<p>
						    		Hotfix is a Chrome Extension to save changes from
						    		Chrome Developer Tools directly to GitHub. At the time, I needed something like this so I made it. I rarely use it any more, but I enjoyed playing around with the GitHub API. 
						    	</p>
						    	<div class= "project-tags">
						    		<span class="project-tag">Javascript</span>
						    		<span class="project-tag">Node.js</span>
						    		<span class="project-tag">GitHub API</span>
						    		<span class="project-tag">Chrome Dev Tools</span>
						    	</div>
						    	<div class= "project-links">
						    		<span class = "github-icon">
                       <% link_to 'https://github.com/FajitaNachos/hotfix' do %>
                        <%= image_tag 'Octocat.jpg' %>
                      <% end %>
					    			</span>
						    		<span class = "chrome-store-icon">
                      <% link_to 'https://chrome.google.com/webstore/detail/hotfix/bfmckmhcljhakgkngnfjhmmffaabdafi' do %>
                        <%= image_tag 'chrome-store-badge2.png' %>
                      <% end %>
					    			</span>
					    			
					    		</div>

					    	</div>	

				  		    
					    </div>
					</li>
					<li>
			    		<div class = "project">
			    			<div class = "project-image">
                   <% link_to '/Quick-Preview' do %>
                      <%= image_tag 'quick-preview-screenshot.jpg' %>
                    <% end %>
					    	</div>
			    			<div class = "project-details">
					    		<div class="project-title">
					    			<h3><%= link_to 'Quick Preview', '/Quick-Preview' %></h3>
					    		</div>
					    			<p>
					    			 Quick Preview is a WordPress plugin to save and preview a post using Cmd+S. It was my first real project, and I'll always have a little soft spot for it. 
					    			</p>
					    		<div class="project-tags">
					    			<span class="project-tag">PHP</span>
					    			<span class="project-tag">Javascript</span>
					    			<span class="project-tag">WordPress</span>

					    		</div>
					    		<div class= "project-links">
					    			<span class = "github-icon">
                       <% link_to 'https://github.com/FajitaNachos/quick-preview' do %>
                        <%= image_tag 'Octocat.jpg' %>
                      <% end %>
					    			</span>
					    			<span class = "wordpress-icon">
                      <% link_to 'http://wordpress.org/extend/plugins/quick-preview/' do %>
                        <%= image_tag 'wordpress.png' %>
                      <% end %>
					    			</span>
					    			
					    		</div>

						    </div>  
				   		</div>
				   	</li>
				</ul>
			</div>

		</div>
		<div id="slider-controls">
    		<a href="#" id="slider-prev"> <%= image_tag 'prev.png' %></a>
   		 	<a href="#" id="slider-next"><%= image_tag 'next.png' %></a>
		</div>
	</section>

	<section id ="posts" class = "section">
		<div id="posts-wrap">
			<div id="post-list">

			<h2> Posts</h2>
			<span id="tumblr"> If you prefer something shorter and more frequent, have at look at my blog on <a href="
http://fajitanachos.tumblr.com">Tumblr</a></span>
		    <ul>

            <% blog.articles.each do |post| %>
          <li class = "post-item">
            <%= link_to(post.title, post.url)%>
            <span class = "post-date"><%= post.date.strftime('%b %e, %Y') %></span>
         </li>
    
           <% end %>

		    </ul>
		    
		    </div> 
		</div>
	</section>

	<section id ="contact" class = "section">
  		<div id="contact-wrap">
	  		<h2><a href="mailto:andrew@fajitanachos.com?sqs_title=I love email. Send me one.">Talk to me, Goose.</a></h2>
  		</div>
  	</section>

	<nav id ="home-nav">
		<ul>
		  	<li><span class = "down-arrow"></span><a href = "#home" id= "home-link" class = "nav-link">Home</a></li>
		  	<li><span class = "down-arrow"></span><a href = "#about" id= "about-link" class = "nav-link">About</a></li>
			<li><span class = "down-arrow"></span><a href = "#projects" id = "projects-link" class = "nav-link" >Projects</a></li>
			<li><span class = "down-arrow"></span><a href = "#posts" id = "posts-link" class = "nav-link">Posts</a></li>
			<li><span class = "down-arrow"></span><a href = "#contact" id= "contact-link" class = "nav-link">Contact</a></li>
		</ul>
	</nav>
